.identifierLabel {
	display: flex;
	align-items: center;
	flex: 1;
}

.identifierLabel .text {
	padding-left: 5px;
	line-height: 22px;
	display: inline-block;
	vertical-align: middle;
}

.identifierLabel .icon {
	display: inline-block;
}

.identifierLabel .sensorValue {
	color: rgb(145, 145, 145);
	margin-left: auto;
}

.methodTreeView .leafNode {
	margin-left: 16px;
}

.methodTreeView .row {
	line-height: 22px;
}

.methodTreeView .row:hover {
	background-color: var(--vscode-list-hoverBackground);
	cursor: pointer;
}