html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow-y: visible;
}

#webview-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	overflow-y: visible;
	padding-left: 0;
	/* Ensure no padding on the left */
}

#notes-form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	/* Reduced gap */
	overflow: visible;
	height: 100%;
}



#submit-button {
	width: 300px;
	/* Fixed width */
	align-self: flex-start;
	/* Align to the left */
}

#tags-container {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	overflow: visible;
	height: 100%;
}

#panels-row {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: visible;
	height: 100%;
}

#inline {
	display: flex;
	flex-direction: row;
	width: 300px;
	overflow: visible;
}

#deleteButton {
	margin-left: 5px;
	/* Optional: add some space between the text field and the button */
	width: fit-content;
}

#profileDropdown {
	margin-left: 2px;
	/* Optional: add some space between the text field and the button */
	flex-grow: 1;
}

.button {
	margin-left: 0;
	/* Ensure buttons are aligned to the left */
	overflow-y: visible;
}

.section.Button {
	margin-top: auto;
	display: flex;
	justify-content: flex-start;
	/* Align buttons to the left */
	gap: 0.5rem;
	/* Reduced gap */
}

vscode-dropdown,
vscode-text-field,
vscode-button,
label {
	width: 300px;
	/* Fixed width for form elements and labels */
	margin-left: 0;
	/* Ensure alignment to the left */
	margin-top: 5px;
	margin-bottom: 5px;
	/* Smaller gap below labels */
	overflow: visible;
	flex-flow: column;
	height: auto;
}

vscode-panel-view {
	height: 600px;
	overflow: visible;
}


p {
	font-size: 0.9em;
	/* Make the font size smaller */
	margin-top: 0.2em;
	/* Reduce the space above the paragraph */
	margin-bottom: 0.2em;
	/* Reduce the space below the paragraph */
	padding: 0;
	/* Remove padding */
	overflow: visible;
	width: 300px;
}

label {
	margin-top: 0.2em;
	/* Reduce the space above the label */
	margin-bottom: 0.2em;
	/* Reduce the space below the label */
	padding: 0;
	/* Remove padding */
	overflow: visible;
	text-decoration-thickness: 0.1em;
	/* Add underline */
}

.vscode-dropdown:focus~#notes-form {
	overflow: visible;
	/* Set to visible when any vscode-dropdown is focused */
}

.dropdown-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}

#webview-body,
#notes-form,
#panels-row {
	height: auto;
}

@media screen and (min-width: 1024px) {
	#webview-body {
		padding: 0;
		max-width: 1024px;
		margin-left: 0;
		/* Align to the left */
		height: 100%;
		overflow: visible;
	}
}

.title {
	margin-left: 10px;
}

.icon {
	flex-shrink: 0;
	text-align: center;
	height: 100%;
	display: flex !important;
	padding-top: 3px
}