/* the tree node's style */
.tree-view {
  /* allow the tooltip to show */
  overflow-y: visible !important;
}

.tree-view_item {
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	display: flex;
	align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* style for the children nodes container */
.tree-view_children {
  padding-left: 16px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_children.collapsed {
  display: none;
}

