.codicon-button {
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	padding: 1px;
}

.codicon-button:hover {
	background-color: var(--vscode-list-hoverBackground);
}

.highlighted {
	border-color: var(--vscode-focusBorder);
}

.highlighted:hover {
	background-color: var(--vscode-focusBorder);
}