body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	margin-top: 5px;
	margin-left: 5px;
}

.sidebar {
	flex-basis: 20%;
	padding: 5px;
	border-right: 1px solid var(--vscode-profiles-sashBorder);
	box-sizing: border-box;
}

.info-table {
	flex-grow: 1;
	padding: 5px;
	margin-left: 5px;
	box-sizing: border-box;
}

.info-table,
.sidebar {
	margin-top: 0;
}

h1 {
	margin-top: 5px;
	margin-left: 5px;
	padding-top: 0;
}

h2 {
	margin-top: 5px;
	margin-left: 5px;
	padding-top: 0;
}

.info-table td {
	padding: 8px;
}

.info-table tr:nth-child(odd) {
	background-color: var(--vscode-tree-tableOddRowsBackground);
}

.jsonButton {
	margin-top: 5px;
}