.tree-view-header {
	height: 16px;
	display: flex;
	align-items: center;
	font-weight: bold;
	border-bottom: 1px solid var(--vscode-editorWidget-border);
	padding: 5px 0;
}

.tree-view-header .header-buttons {
	margin-left: auto;
}