.treeViewHeader {
	height: 16px;
	display: flex;
	align-items: center;
	font-weight: bold;
	border-bottom: 1px solid var(--vscode-editorWidget-border);
	padding: 5px 0;
}

.treeViewHeader div {
	margin-left: auto;
	cursor: pointer;
}